*.o
*.a
*.la
*.lo
*.log
*.status
*.deps/
*.a
*.cache/
*.dirstamp
.libs/
*.trs
tags
/ar-lib
/test-driver
/aclocal.m4
/depcomp
/install-sh
/libtool
/ltmain.sh
/missing
/stamp-h1
/build-aux
Makefile
Makefile.in
/config.guess
/config.h
/config.h.in
/config.h.in~
/config.sub
/configure
/configure.scan
/compile
tracefile
src/mjs4
tools/mjscount
.autotools
.project
.cproject
Makefile
Makefile.in
aclocal.m4
config.guess
config.log
config.status
config.sub
configure
depcomp
install-sh
missing
.settings
m4/
tests/check_mjs
