*.o
*.deps/
*.a
*.cache/
*.dirstamp
tracefile
src/mjs4
tools/src/mjscount
.autotools
.project
.cproject
Makefile
Makefile.in
aclocal.m4
config.guess
config.log
config.status
config.sub
configure
depcomp
install-sh
missing
src/Makefile
src/Makefile.in
tools/src/Makefile
tools/src/Makefile.in
