Package: mjs
Version: 4.0rc3-1
Section: unknown
Priority: extra
Architecture: i386
Depends: libc6 (>= 2.3.6-6), libncurses5 (>= 5.4-5), libxine1 (>= 1.1.2-5)
Installed-Size: 72
Maintainer: root <beheer@bolkhuis.nl>
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>
